:root {
    --black: #000;
    --black-opacity: rgba(0, 0, 0, 0.75);
    --bg-color: #171718; //#222223
    --text-active: #fff;
    --text-opacity-active: rgba(255, 255, 255, 0.55);
    --text-opacity-inactive1: rgba(255, 255, 255, 0.75);
    --bg-opacity: rgba(255, 255, 255, 0.05);
    --active-color: #407df6;
    --active-color-opacity: rgba(255, 255, 255, 0.25);
    --active-color-opacity-hover: rgba(64, 125, 246, 0.75);
    --main-active-color: #EF9921;
    --main-active-color-opacity: rgba(239, 153, 33, 0.25);
}
